<div class="border-2 /border-black rounded-xl p-2 w-520px flex flex-row gap-4 shadow-l">
    <div class="w-28 /border-2 /border-green-500 flex flex-col justify-center">
        <img src="assets/sample.webp" />
    </div>
    <div class="/border-2 w-full /border-red-500 flex flex-row gap-2 justify-between">
        <div class="flex flex-col gap-2 /border-2 /border-black">
        <div [routerLink]="'/product/1'"> <!-- change to id -->
            <h3 class="font-bold text-xl"> {{ 'POCO M6 Pro 5G (Power Black, 128 GB)' | slice: 0: 100 }}</h3>
        </div>
        <div>
            <div>
                <div>Size </div>
                <div>color </div>
            </div>
        </div>
    </div>
    
    <div class="/border-2 /border-blue-400 flex flex-col gap-2 justify-center items-center">
        <div>
            <h5 class="font-bold text-lg">{{9999 | currency: 'INR'}}</h5>
        </div>
        <div class="flex flex-row items-center">
            Qn: 3
        </div>
        
    </div>
    </div>
</div>
