<div class="border-2 shadow-lg rounded-md w-60 p-2 flex flex-col gap-2 bg-white">
<div>
    <h3 class="font-semibold text-xl">{{'Order Summary' | uppercase}}</h3>
</div>    
<div class="flex flex-row justify-between">
    <span>
        SubTotal: 
    </span>
    <span>
        {{subtotal | currency: 'INR'}}
    </span>
</div>
<div class="flex flex-row justify-between">
    <span>
        Tax (18%): 
    </span>
    <span>
        {{tax | percent}}
    </span>
</div>
<div class="flex flex-row justify-between">
    <span>
        Discount: 
    </span>
    <span>
        {{discount | percent}}
    </span>
</div>
<div class="flex flex-row justify-between">
    <span class="font-semibold">
        Total: 
    </span>
    <span class="font-semibold">
        {{total | currency: 'INR'}}
    </span>
</div>
<div class="flex flex-row justify-between">
    <span>
        Wallet Balance: 
    </span>
    <span>
        {{walletBalance | currency: 'INR'}} 
    </span>
</div>
<div class="flex flex-col gap-1">
    <input placeholder="PROMO CODE" class="w-full bg-tertiary focus:bg-white rounded-md p-1 outline-none focus:ring-2 focus:ring-primary">
    <button class="bg-primary w-full p-1 text-white rounded-md flex flex-row items-center justify-center hover:bg-white hover:text-black border-2 border-white hover:border-2 hover:border-primary font-semibold">Apply Promo Code</button>
</div>
<div>
    <button class="bg-primary text-white hover:bg-primary2 p-2 rounded-md w-full flex justify-center items-center font-semibold">{{'Checkout Now' | uppercase}}</button>
</div>
</div>