<div class="w-520px">

    <div class="flex flex-row justify-between">
        <div class="p-2 flex flex-col mb-4">
            <div class="text-xl">Account details of</div>
            <h2 class="text-4xl font-semibold">
                Mr. Fresh!
            </h2>
            
        </div>
        <div class="mt-6">

            <button class="p-1 rounded-md bg-red-400 hover:bg-red-500 text-white font-semibold w-24 flex flex-row justify-center items-center gap-1" *ngIf="!banned">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>                
                </span>
                <span>
                    Ban
                </span>
            </button>

            <button class="p-1 rounded-md bg-primary hover:bg-primary2 text-white font-semibold w-24 flex flex-row justify-center items-center gap-1" *ngIf="banned">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                          
                </span>
                <span>
                    Unban
                </span>
            </button>


        </div>
    </div>

    <div class="p-2 flex flex-col gap-6">
        <div class="flex flex-row items-center gap-1">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
                  </svg>                                        
            </span>
            <span>
                Email: {{'email'}}
            </span>
        </div>
        <div class="flex flex-row items-center gap-1">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                  </svg>                      
            </span>
            <span class="">
                <span>Phone:</span> <span>{{'phone'}}</span>
            </span>
        </div>
        <div class="flex flex-row items-center gap-1">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                  </svg>                      
            </span>
            <span>
                Address: {{'address'}}
            </span>
        </div>
        <div class="flex flex-row items-center gap-1">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                  </svg>                      
            </span>
            <span>
                Wallet Balance: {{'balance | currency: \'INR\''}}
            </span>
        </div>
        
    </div>

    <div>

        <div class="border-2 rounded-md p-2 flex flex-row justify-between cursor-pointer mt-2" (click)="toggleOrdersListDisplay()">
            <span class="text-lg font-medium">
            View Orders
        </span>
        <span *ngIf="!showOrdersList">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
        </span>
        <span *ngIf="showOrdersList">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
            </svg>              
        </span>
    </div>

    <div *ngIf="showOrdersList" class="/border-2 /p-2">
        <div>
            <app-admin-orders-page [openedAsSubMenu]="true"></app-admin-orders-page>
        </div>
    </div>

</div>

    <div>

        <div class="border-2 rounded-md p-2 flex flex-row justify-between cursor-pointer mt-2" (click)="toggleReviewsListDisplay()">
            <span class="text-lg font-medium">
                View Reviews
            </span>
            <span *ngIf="!showReviewsList">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
            </span>
            <span *ngIf="showReviewsList">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                </svg>              
            </span>
        </div>
      
        <div *ngIf="showReviewsList" class="/border-2 /p-2">
            <app-admin-reviews-page [openedAsSubMenu]="true"></app-admin-reviews-page>
        </div>
    </div>
</div>

