/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Urbanist", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
}


/* * {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */

  
div {
    transition: background 0.75s ease;
}

button {
    transition: background 0.75s ease;
}

input {
    transition: background 0.75s ease;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

/* Style the custom checkbox */
input[type="checkbox"]:checked {
    background-color: #7469B6; /* Change the color when checked */
}